<nav>
    <ul class="nav_menu">
        <li><a class="nav_buttons texto_activate" href="/" ><span>HOME</span></a></li>
        <li><a class="nav_buttons texto_activate" href="/sobre" ><span>SOBRE MIM</span></a></li>
        <li><a class="nav_buttons texto_activate" href="/disciplinas"><span>MINHAS DISCIPLINAS</span></a></li>
        <li><a class="nav_buttons texto_activate" href="/projetos"><span>PROJETOS</span></a></li>
        <li><a class="nav_buttons texto_activate" href="/dashboard"><span>DASHBOARD</span></a></li>
        <li><a class="nav_buttons texto_activate" href="/contato"><span>CONTATO</span></a></li>
    </ul>
</nav>